
@{
    ViewBag.Title = "Table";
    var X = Html.X();
}
<!DOCTYPE html>

<html>
<head>
    <script>
        var template = '<span style="color:{0};">{1}</span>';

        var firstChange = function (value) {
            return Ext.String.format(template, (value > 0) ? "green" : "red", value);
        };

        var lastChange = function (value) {
            return Ext.String.format(template, (value > 0) ? "green" : "red", value + "%");
        };
    </script>
</head>
<body>

    <h2 style="padding-left:20px">Table</h2>
    @(Html.X().ResourceManager())
    @(X.Viewport()
                .Layout(LayoutType.Column)
                .Items(
                    X.Panel()
                        .ColumnWidth(0.3)
                        .Height(100)
                        .PaddingSpec("0 0 0 0")
                        .Title("Width=0.3")
                        .DockedItems(
                            X.Toolbar().Items(
                                X.Image()
                )
                        ),

                    X.Panel()
                        .ColumnWidth(0.4)
                        .Height(100)
                        .Title("Width=0.4")
                        .Html("This is some content.")
                        .BodyStyle("background:transparent;" )
                        .StyleSpec("background-color : #00FFFF")
                        .Items(
                        X.Image()
                        ),

                    X.Panel()
                        .ColumnWidth(0.3)
                        .Height(100)
                        .Title("Width=0.3px")
                        .Items(
                            X.Button()
                                .Weight(100)
                                .Icon(Icon.Add)
                                .Text("Add")
                                .StyleSpec("margin-top:15px;margin-left:15px")
                                .Handler("App.WindowsEdit.show(this)"),
                            X.Button()
                                .Weight(100)
                                .Icon(Icon.Delete)
                                .Text("Delete")
                                .StyleSpec("margin-top:15px;margin-left:15px")
        ))
        )
    @(X.FormPanel()
        .ID("FormPanel1")
        .Title("Company data")
        .ColumnWidth(1)
        .BodyPadding(5)
        .Layout(LayoutType.Column)
        .FieldDefaults(fd => {
            fd.LabelAlign = LabelAlign.Left;
            fd.MsgTarget = MessageTarget.Side;
        })
        .Buttons(
            X.Button()
                .Weight(100)
                .Icon(Icon.Add)
                .Text("Add")
                .StyleSpec("margin-top:15px;margin-left:15px")
                .OnClientClick("App.WindowsEdit.show(this)"),
           X.Button()
                .Text("Edit")
                .Icon(Icon.NoteEdit)
                .OnClientClick(@"var form = this.up('form'),
                                     r = form.getForm().getRecord();

                                 if (r) {
                                     form.getForm().updateRecord(form.down('grid').getSelectionModel().getLastSelected());
                                 }"),
           X.Button()
                .Weight(100)
                .Icon(Icon.Delete)
                .Text("Delete"),
           X.Button()
                .Icon(Icon.ControlRemove)
                .Text("Reset Fields")
                .OnClientClick("this.up('form').getForm().reset();"), 
           X.Button()
                .Text("Get Values...")
                .OnClientClick("alert(Ext.encode(this.up('form').getForm().getValues()));")
        )
        .Items(
        X.GridPanel()
            .ID("GridPanel1")
            .ColumnWidth(0.7)
            .ColumnLines(true)
            .Title("Get all record")
            .Padding(20)
            .Listeners(l => l.SelectionChange.Handler = "if (selected[0]) { this.up('form').getForm().loadRecord(selected[0]); }")
            .Store(
                X.Store().ID("Store1")
                    .Model(X.Model().Fields(
                        X.ModelField().Name("nameCompany"),
                        X.ModelField().Name("price").Type(ModelFieldType.Float),
                        X.ModelField().Name("firstChange").Type(ModelFieldType.Float),
                        X.ModelField().Name("lastChange").Type(ModelFieldType.Float),
                        X.ModelField().Name("lastUpdate").Type(ModelFieldType.Date).DateFormat("MM/dd/yyyy hh:mm")
                    ))
                    .DataSource(Model)
            )
            .ColumnModel(
                X.Column().Text("Company").DataIndex("nameCompany").Flex(1),
                X.Column().Text("Price").DataIndex("price").Renderer(RendererFormat.UsMoney),
                X.Column().Text("Fisrt Change").DataIndex("firstChange").Renderer("firstChange"),
                X.Column().Text("Last Change").DataIndex("lastChange").Renderer("lastChange"),
                X.Column().Text("Last Updated").DataIndex("lastUpdate")
            ),

        X.FieldSet()
            .ColumnWidth(0.3)
            .Title("Abc")
            .Padding(20)
            .Defaults(d => { d.Add(new Parameter("LabeWidth", "115")); })
            .Items(
            X.TextField()
                    .Name("nameCompany")
                    .FieldLabel("Name"),
                X.TextField()
                    .Name("price")
                    .FieldLabel("Price"),
                X.TextField()
                    .Name("lastChange")
                    .FieldLabel("Change (%)"),
                X.DateField()
                    .Name("lastUpdate")
                    .FieldLabel("Last Updated")
            )            
            )
        )
    <p>asjkhdjskad</p>
    @(X.Window()
        .Hidden(true)
        .ID("WindowsEdit")
        .MinWidth(400)
        .Padding(20)
        .Title("Edit price company")
        .Layout(LayoutType.Form)
        .Items(
            X.TextField()
            .ID("txtNameComp")
            .Name("Name Company")
            .Enable(false)
            .FieldLabel("Name Company")
            .AllowBlank(false)
            .BlankText("Your username is required"),
           X.TextField()
            .ID("txtPrice")
            .Name("Price")
            .InputType(Ext.Net.InputType.Number)
            .FieldLabel("Price")
            .AllowBlank(false)
            .BlankText("Your price is required"),
           X.TextField()
            .ID("txtFirstChange")
            .Name("First Change")
            .InputType(Ext.Net.InputType.Number)
            .FieldLabel("First Change")
            .AllowBlank(false)
            .BlankText("Your First Change is required"),
           X.TextField()
            .ID("txtLastChange")
            .Name("Last Change")
            .InputType(Ext.Net.InputType.Number)
            .FieldLabel("Last Change")
            .AllowBlank(false)
            .BlankText("Your last change is required"),
           X.DateField()
            .ID("txtDate")
            .Name("date")
            .InputType(Ext.Net.InputType.DateTime)
            .FieldLabel("DateTime")
            .AllowBlank(false)
            .BlankText("Your datetime is required")


    )
        .Buttons(
            X.Button()
            .Icon(Icon.Add)
            .Text("Add")
            .StyleSpec("margin-top:15px;margin-left:15px")
            .OnClientClick("Ext.Msg.alert('Add', 'Done');")
            .Handler("handleClientClick")
                    .DirectEvents(de =>
                    {
                        de.Click.Url = Url.Action("Add_Click");
                        de.Click.ShowWarningOnFailure = false;
                        de.Click.EventMask.ShowMask = true;
                        de.Click.EventMask.Msg = "Verifying...";
                        de.Click.EventMask.MinDelay = 1000;

                        de.Click.ExtraParams.Add(new Parameter("nameCompany", "App.txtNameComp.value", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("price", "App.txtPrice.value", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("firstChange", "App.txtFirstChange.value", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("lassChange", "App.txtLastChange.value", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("date", "App.txtDate.value", ParameterMode.Raw));
                    }),
           X.Button()
            .Icon(Icon.Cancel)
            .Text("Cancel")
            .StyleSpec("margin-top:15px;margin-left:15px")
    ))
</body>
</html>


