@model List<WebApplication2.Models.Price>

@{
    var X = Html.X();
}

<!DOCTYPE html>

<html>
<head>
    <script>
        var saveChart = function (btn) {
            Ext.MessageBox.confirm('Confirm Download', 'Would you like to download the chart as an image?', function (choice) {
                if (choice === 'yes') {
                    btn.up('panel').down('chart').download();
                }
            });
        };
    </script>

</head>
<body>
    @(Html.X().ResourceManager())
    @(X.Panel()
        .Width(400)
        .Height(350)
        .Layout("fit")
        .TopBar(X.Toolbar()
            .Items(
                X.ToolbarFill(),

                X.Button()
                    .Text("Reload Data")
                    .Icon(Icon.ArrowRefresh)
                    .Handler("App.Store33.reload();"),

                X.Button()
                    .Text("Save Chart")
                    .Icon(Icon.Disk)
                    .Handler("saveChart")
            )
        )
        .Items(X.CartesianChart()
            .Store(X.Store()
                .ID("Store33")
                .Data(Model)
                .Model(X.Model().Fields("nameCmp", "countCmp"))
            )
            .Axes(
                X.NumericAxis()
                    .Position(Position.Left)
                    .Fields("countCmp")
                    .Grid(true)
                    .Title("Value")
                    .Minimum(0)
                    .Renderer(r => r.Handler="return Ext.util.Format.number(label, '0,0');"),

                X.CategoryAxis()
                    .Position(Position.Bottom)
                    .Fields("nameCmp")
                    .Title("Name Company")
                    .Label(X.ChartLabel().RotationDegrees(-45))
            )
            .Series(X.BarSeries()
                .Highlight(true)
                .XField("nameCmp")
                .YField("countCmp")
                .Tooltip(X.ChartTip()
                    .TrackMouse(true)
                    .Renderer(r => r.Handler = "this.setTitle(storeItem.get('nameCmp') + ': ' + storeItem.get('countCmp'));")
                )
                .Label(X.ChartLabel()
                    .Display(SeriesLabelDisplay.InsideEnd)
                    .Field("countCmp")
                    .Orientation(Orientation.Horizontal)
                    .Color("#333")
                    .TextAlign(TextSpriteAlign.Center)
                    .Renderer(r => r.Handler = "return Ext.util.Format.number(text, '0');")
                )
            )
        )
    )
</body>
</html>


